- variables
- data types
- Type casting (convert one data type to another data type)
- Doc string
- print statements

In [2]:
num1=30
num2=20
num1
num2

20

In [4]:
num1=30
num2=20
print(num1)
print(num2)

30
20

In [6]:
num1=30
num2=20
print(num1),print(num2)
num1,num2

30
20

(30, 20)

In [ ]:
num1=30
num2=20
print(num1)
print(num2)
########################
num1=30
num2=20print(num1),print(num2)
num1,num2
#############################
num1=30
num2=20
print(num1,num2)

In [8]:
num1=30
num2=20
print(num1),print(num2)

30
20

(None, None)

In [10]:
num1,num2

(30, 20)

In [13]:
num1+num2

50

In [15]:
print(30,20,'python')

30 20 python

In [17]:
a=100
b=200
c=a+b
# the addition of 100 and 200 is 300
print('the addition of ',a,'and',b,'is',c)

the addition of  100 and 200 is 300

In [19]:
name='python'
age=10
city='hyd'
# my name is python im 10 years old from hyd
print('my name is',name,'im',age,'years old from',city)

my name is python im 10 years old from hyd

**Fromat**

In [28]:
a=1000
b=200
c=a+b
# the addition of 100 and 200 is 300
print('the addition of 100 and 200 is 300')
print('the addition of {} and {} is {}'.format(a,b,c))

the addition of 100 and 200 is 300
the addition of 1000 and 200 is 1200

In [32]:
name='python'
age=10
city='hyd'
# my name is mython im 10 years old and from hyd
print('my name is ',name,'im',age,'years old and from',city)
print('my name is {} im {} years old and from {}'.format(name,age,city))
print('my name is {} im {} years old and from {}'.format(city,age,name))

my name is  python im 10 years old and from hyd
my name is python im 10 years old and from hyd
my name is hyd im 10 years old and from python

In [36]:
n1=100
n2=200
add=n1+n2
sub=n1-n2
mul=n1*n2
div=n1/n2
print('the addition of {} and {} is {}'.format(n1,n2,n1+n2))
print('the subtraction of {} and {} is {}'.format(n1,n2,n1-n2))
print('the multiplication of {} and {} is {}'.format(n1,n2,n1*n2))
print ('the dividion of {} and {} is {}'.format(n1,n2,n1/n2))

the addition of 100 and 200 is 300
the subtraction of 100 and 200 is -100
the multiplication of 100 and 200 is 20000
the dividion of 100 and 200 is 0.5

**f string**

In [9]:
a=100
b=200
c=a+b
# the addition of 100 and 200 is 300
print(f'the addition of {a} and {b} is {c}.')
print(f'the substraction of {a} and {b} is {c}.')
print(f'the multiplication of {a} and {b} is {c}.')
print(f'the division of {a} and {b} is {c}.')

the addition of 100 and 200 is 300.
the substraction of 100 and 200 is 300.
the multiplication of 100 and 200 is 300.
the division of 100 and 200 is 300.

In [38]:
n1=100
n2=200
sub=n1-n2
mul=n1*n2
div=n1/n2
print(f'the addition of {n1} and {n2} is {n1+n2}')
print(f'the subtraction of {n1} and {n2} is {n1-n2}')
print(f'the multiplication of {n1} and {n2} is {n1*n2}')
print(f'the division of {n1} and {n2} is {n1/n2}')

the addition of 100 and 200 is 300
the subtraction of 100 and 200 is -100
the multiplication of 100 and 200 is 20000
the division of 100 and 200 is 0.5

**END**

$END$

In [15]:
print(20,end=' ***')
print(30)

20 ***30

In [14]:
print(1,end='  ')
print(2,end='  ')
print(3)

1  2  3

In [16]:
print(20,'****',30)

20 **** 30

In [17]:
print(20,end='****')
print(30)

20****30

- we want to seperate the multiple varibles in one print statement

In [18]:
print(20,'---->',30)

20 ----> 30

seperate operater

In [19]:
print(20,30,50,sep='@@@')

20@@@30@@@50

- end operator used to combine multiple print statements
- sep operator use to seperate the multiple variables in a single print

In [23]:
print('the addition of 3+4 is',3+4,'.')
print("the addition of",3 , "and", 4, "is", 3+4)
print("the addition of {} and {} is {}".format(3,4,3+4))
print(f'the addition of {a} and {b} is {a+b}')

the addition of 3+4 is 7 .
the addition of 3 and 4 is 7
the addition of 3 and 4 is 7
the addition of 100 and 200 is 300

In [24]:
print('the addition of 3+4 is',3+4,'.',sep='')

the addition of 3+4 is7.