DATA TYPES

- python can say data type of the value with out intializaing
- which means the data type automatically consider
- python has some inbuilt datatype structure
- int: intrger 
- float
- str: string
- bool:boolean
- complex
- list
- tuple
- dict: dictionary
- set
- frozenset
- bytes
- bytearray
- memoryview

*****integer*****

In [9]:
num=100
type(num)

int

In [11]:
print(num)

100

In [15]:
   # we have numerical language
   # age=20
   # distance=20
   # salry=20000
   # mars
   # mars ==== earth
   # how old are you = 7 years
   # 0b111

***binary number syster***
  - digits:0,1,2,3,4,5,6,7,8,9
  - binary : bi means two : 0 and 1
  - representation is : 0b001,0b111,0b101,0b111
  - wrong represntation is : o,0b102

In [22]:
0b111

7

In [24]:
0b10101

21

In [26]:
0b1010

10

In [28]:
0b1111

15

In [ ]:
2^2=4   2^1=2   2^0=1
0         0       0       0
0         0       1       1
0         1       0       2
0         1       1       3
1         0       0       4
1         0       1       5
1         1       0       6
1         1       1       7

In [ ]:
2^3=8   2^2=4   2^1=2   2^0=1
0       0         0       0       0
0       0         0       1       1
0       0         1       0       2
0       0         1       1       3
0       1         0       0       4
0       1         0       1       5
0       1         1       0       6
0       1         1       1       7
1       0         0       0       8
1       0         0       1       9
1       0         1       0       10
1       0         1       1       11
1       1         0       0       12
1       1         0       1       13
1       1         1       0       14
1       1         1       1       15

In [33]:
0b1100,0b1110

(12, 14)

**octal number system**

- digits: 0,1,2,3,4,5,6,7,8,9

- octa : octa means 8  : 0,1,2,3,4,5,6,7

- representation is :  0o567,0o123,0O765

- wrong represntation is : 'o' as start, 0o789

In [37]:
0o123

83

In [39]:
0o4224

2196

**hexa number system**

- digits: 0,1,2,3,4,5,6,7,8,9

- hexa : hexa means 16  : 0,1,2,3,4,5,6,7,8,9,A=10,B=11,C=12,D=13,E=14,F=15

- representation is :  0x567,0X123,0Xabc

- wrong represntation is : 'o' as start, 0h67

In [45]:
0x123

291

In [47]:
0xabc

2748

**float**

- float numbers means continues points

- float numbers means having some decimals

- integer number means discrete points

In [50]:
number=100.25
type(number)

float

- folat pointd can represent as exponetial formate e

In [57]:
  1e1 # 1*10
  1e2 # 1*100
  1e3 # 1*1000

1000.0

In [59]:
print(1e+1)  # 1*10
print(1e+2)  # 1*100
print(1e+3)  # 1*1000

10.0
100.0
1000.0

In [61]:
1e+1,1e+2,1e+3

(10.0, 100.0, 1000.0)

In [63]:
print(1e-1) # 1/10
print(1e-2) # 1/100
print(1e-3) # 1/1000

0.1
0.01
0.001

In [65]:
1e-15

1/10000000000

1e-10

**strings**
 - string means english characters

In [69]:
name="python"
type(name)

str

In [71]:
number='10'
type(name)

str

In [73]:
sen1="hello i like 'python'"
print(sen1)

hello i like 'python'

In [75]:
sen2='hello i like "python"'
print(sen2)

hello i like "python"

- entire sentence in single quotes, then use double quotes to highlite the word
- entire sentence in double quotes, then use single qoutes to highlite the word

In [80]:
name='python'
name

'python'

In [82]:
print(name)

python

In [84]:
name1='python'
name2='dinesh'
print(name2)
print(name1)

dinesh
python

In [ ]:
hello good morning
how are you with out /n

In [86]:
statement="""hello i like 'pythion'
            hai good morning
             class data types"""
print(statement)

hello i like 'pythion'
            hai good morning
             class data types

***DOC string***
 - if we want to convey information to the user
 - we will write a statements before coding part
 - is called as doc string
 - in jupter note book to convey the information we have markdown
 - but in vscode we dont have markdown
 - we convey the information by using triple quotes
 - if we see anywhere triple quotes means the user trying to convey the information

In [1]:
"""             
    write some thing
    """

'''                        
    write anything you want
    '''

'                        \n    write anything you want\n    '

***Boolean***

In [10]:
value=True
type(value)

bool

In [ ]:
value=Fal